<!DOCTYPE html PUBLIC   "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> 
<title>APNS Test</title>
</head>
<body style="background-color: #a0b0c0">
<center><h2>APNS Test App</h2></center>
<p>
This app lets you send messages to the APNS Test app installed on your iPhone.  This is for demonstrating the power of the <a href="https://pushdaemon.appspot.com">PushDaemon</a> service.

<p>
First download the APNSTest app from the App Store.  This is a free app and one with almost no practical use except to test the PushDaemon service.

<p>
Click below to visit a list of devices registered for push notification.  You can send a message to any one of them!!!
<center>
<a href="/devices/">Registered Devices</a>
</center>
</body>
</html>

